@{
    ViewBag.Title = "Home Page";
}
<!--Tytuł strony głównej-->
<center><h1>Prosta aplikacja do recenzji</h1></center>
<hr />
<!--3 kolumny przenoszące do zakładek-->
<div class="row">
    <div class="text-center col-md-4">
        <h2><a href="/Home/About">Dowiedz się coś o mnie</a></h2>
        <p>
            Kilka informacji o mnie.
        </p>
        <p><a class="btn btn-default" href="/Home/About">Wejdź</a></p>
    </div>
    <div class="text-center col-md-4">
        <h2><a href="/Home/Compare">Zobacz gry i ich recenzje</a></h2>
        <p>Zbiór gier oraz ich recenzji. Oglądaj opinie innych i sam proponuj gry które nais ekperci ocenią!</p>
        <p><a class="btn btn-default" href="/Home/Compare">Wejdź</a></p>
    </div>
    <div class="text-center col-md-4">
        <h2><a href="/Home/Contact">Kontakt</a></h2>
        <p>Wyślij nam wiadomość!</p>
        <p><a class="btn btn-default" href="/Home/Contact">Wejdź</a></p>
    </div>
</div>